/* main-section */

.main-section {
  position: relative;
}

.colored-side-bar {
  width: 750px;
  /* width: 39.35%; */
  height: 770px;
  background-color: #e6dace;
  z-index: -3;
}

.intro {
  width: 50%;
  height: 510px;
  display: flex;
  position: absolute;
  top: 120px;
  /* left: 500px; */
  left: 25%;
}

.about-me {
  flex-basis: 60%;
  margin-left: 50px;
  min-width: 505px;
}

.intro-title {
  font-weight: 700;
  font-size: 6.25rem;
}

.intro-sub {
  font-weight: 600;
  font-size: 1.875rem;
}

.intro-desc {
  font-size: 1.063rem;
  letter-spacing: 1px;
  line-height: 1.3;
  word-spacing: 3px;
}

.intro-title,
.intro-sub,
.intro-desc {
  font-family: var(--font-roboto);
}

.intro-desc.one,
.intro-desc.two {
  margin-bottom: 1rem;
}

.button {
  padding: 8px 40px;
  border-radius: 20px;
  font-family: var(--font-roboto);
  font-size: 1.063rem;
  margin-top: 2rem;
  /* margin-bottom: 3rem; prev ver*/
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.resume-button,
.contact-button,
.projects-button:hover {
  color: #fff;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.resume-button:hover,
.contact-button:hover {
  color: black;
  background-color: #fff;
  border: 2px solid var(--color-primary);
}

.projects-button {
  color: black;
  background-color: #fff;
  border: solid 2px;
}

.card {
  height: 500px;
  background-color: #f4ece6;
  flex-basis: 380px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
  background-image: url("./images/IMG_20230102_224158\ \(2\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.names {
  color: #e3f2c1;
  position: relative;
  top: 300px;
  right: -100px;
}

.card-title {
  font-family: var(--font-montserrat);
  font-size: 1.3rem;
  font-weight: 700;
}

.card-sub-title {
  font-size: 0.78rem;
  font-weight: normal;
  font-family: var(--font-montserrat);
  position: relative;
  bottom: 3px;
}

.social-icons {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: -120px;
  padding: 0 40px;
}

.social-links {
  font-size: 1.3rem;
  color: var(--color-primary);
  transition: 0.3s;
}

@media screen and (max-width: 500px) {
  .colored-side-bar {
    position: relative;
    width: 100%;
    top: 320px;
    height: 800px;
  }

  .intro {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1100px;
    top: 50px;
  }

  .card {
    min-width: 350px;
    background-size: cover;
  }

  .names {
    top: 250px;
    right: -90px;
  }

  .social-icons {
    height: 40px;
    bottom: -108px;
  }

  .contact-button {
    margin: 10px 70px;
  }

  .about-me {
    min-width: 360px;
    margin-left: 0;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .intro-title {
    font-weight: 700;
    font-size: 3.6rem;
    padding-bottom: 20px;
  }

  .intro-sub {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .button {
    margin-bottom: 1.1rem;
  }

  footer {
    position: relative;
    top: 320px;
    width: 300px;
  }
}
